
//COLORES
$dinamiq-blue: #5C9EFF;
$dinamiq-dark-blue: #01468B;
$dinamiq-orange: #F25B35;

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$poppins-semibold: 'Poppins', sans-serif;
