@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif
}

.dinamiq-text-h1{
    color: $dinamiq-white;
    font-size: 66px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 99px;
}
.dinamiq-text-h2{
    color: $dinamiq-white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 76px;
}
.dinamiq-text-h3{
    color: $dinamiq-white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
}
.dinamiq-text-p{
    color: $dinamiq-white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
}

//NAVBAR
.nav-dinamiq{
    height: 142px;
    background-color: $dinamiq-blue;
    .logo-header {
        height: 70px;
        width: 159px;
      }
    .nav-text{
        color: $dinamiq-white;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 27px;
    }
}


//CAROUSEL
.carousel-inner{
    .carousel-item{
        img {
            width: 100%;
            height: 100%;
        }
        .carousel-content{
            //display: flex;
            .item-content{
                width: 540px;
                margin: 34.74px 30px 50.26px 0; 
            }
        }
    }
}

.btn-dinamiq{
    height: 53px;
    width: 167px;
    background-color: $dinamiq-orange;
    color: $dinamiq-white;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    border: none;
}
.arrow-big-red{
    height: 137px !important;
    width: 137px !important;
}

.container-orange{
    background-color: #F25B35;
    height: 190px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    img{
        margin: 26.5px 0 25.5px;
    }
}